pages:
  stage: deploy
  script:
  - mkdir .public
  - cp -r * .public
  - mv .public public
  - gzip -k -6 -r public/css
  - gzip -k -6 -r public/js
  artifacts:
    paths:
    - public
  only:
  - master